* {
  padding: 0px;
  margin: 0px;
  border: solid red;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Be Vietnam Pro';
}

.best-of-the-month {
  display: flex;
  flex-direction: column;
}

.best-of-the-month h2 {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  color: #242E53;
  font-weight: 700;
  font-size: 40px;
}

.best-of-the-month h5 {
  font-size: 2.45rem;
}

.footer-conteiner {
  display: flex;
  flex-direction: column-reverse;
}

footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #1E1E26;
  list-style: none;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 15px 0px;
  flex-direction: row;
  color: #FFF;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-nav ul li {
  list-style: none;
  flex: 1;
  padding: 10px 0px 5px 5px;
}

.footer-nav a:hover {
  cursor: pointer;
}

.iconos-redes {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-around;
}

.iconos-redes:hover {
  cursor: pointer;
}

.iconos-redes img:hover {
  transform: scale(1.2);
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.footer-logo:hover {
  cursor: pointer;
}

.copyright {
  color: #8C8C94;
  margin-bottom: 35px;
  font-size: 0.8rem;
  font-weight: 500;
  align-self: center;
}

.search-box {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 100%;
  gap: 10px;
}

.search-bar {
  border: none;
  height: 40px;
  padding: 10px;
  align-items: center;
  border-radius: 50px;
  background: #FFF;
  width: 100%;
}

.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  color: #FFF;
  height: 40px;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  border-radius: 50px;
  background: #8B48BF;
}

.search-button:hover {
  cursor: pointer;
}

.search-button:active {
  color: #FFF;
  background: #b14bff;
  cursor: pointer;
}

.best-of-the-year h3 {
  display: flex;
}

.best-of-the-year {
  display: flex;
  color: #FFF;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  padding: 40px 50px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #3CDDF3;
}

.more {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.more button {
  border: none;
  color: #FFF;
  width: 130px;
  height: 44px;
  padding: 10px;
  border-radius: 50px;
  background: #8B48BF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.more button:hover {
  cursor: pointer;
}

.more button:active {
  background:#ffffff;
  border: 3px #8B48BF;
  color: #8B48BF;
}

.best-of-the-year button {
  display: flex;
  border: none;
  color: #FFF;
  width: 130px;
  height: 44px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #232C50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.best-of-the-year button:active {
  background: #ffffff;
  font-weight: 500;
  cursor: pointer;
  color: #232C50;
}

.best-of-the-year button:hover {
  cursor: pointer; 
}

.cards-conteiner {
  margin: 30px;
}

.cards-conteiner p {
  color: #B9B9C1;
}

.cards-conteiner .name {
  color: #3F4868;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}

.cards-conteiner .name:hover {
  cursor: pointer; 
}

.cards-conteiner .avatar {
  margin-top: 40px;
}

.card-3 {
  display: none;
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;      
}

.card-2 p {
  margin: 15px 20px 20px 20px;
  text-align: center;
}

.card-1 {
  display: none;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}


/* Media Queries */
@media (min-width: 513px) {
  .cards-conteiner {
    display: flex;
    flex-direction: row;
  }
  
  .card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;       
  }

  .card-1 p {
    display: flex;
    margin: 15px 20px 20px 20px;
    text-align: center;
  }

  .card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;       
  }

  .card-3 p {
    display: flex;
    margin: 15px 20px 20px 20px;
    text-align: center;
  }

  .cards-conteiner .avatar {
    margin-top: 40px;
  }

  .cards-conteiner .name {
    color: #3F4868;
    font-weight: 700;
  }

  .best-of-the-year {
    flex-direction: row;
    padding: 2em 3em;
    justify-content: space-between;
    background: #8B48BF;
    text-align: left;
  }

  .best-of-the-year button {
    color: #8B48BF;
    background: #FFF;
    font-weight: 500;
    margin-right: 5vw;
  }

  .best-of-the-year button:active {
    background: #ccc8cf;
    font-weight: 500;   
  }

  .best-of-the-year button:hover {
    cursor: pointer;
  }

  .more {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
  }
  
  .footer-logo {
    justify-content: left; 
    margin: 0px 10px 40px 30px; 
  }

  .iconos-redes {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 30px 10px 20px 30px;  
  }

  footer {
    display: flex;
    justify-content: space-around
  }

  .link-redes {
    display: flex;
    flex-direction: column-reverse;
    align-items: left;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav {
    display: flex;
    gap: 10vw;
  }

  .copyright {
    text-align: center;
    align-self: flex-end;
    margin-right: 8%;
  }

  .formulario {
    display: flex;
    margin-top: 0px;
    max-width: 300px;
  }

  .formulario form {
    display: flex;
    flex-wrap: row;
    max-width: 300px;
  }

  .footer-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1250px;
    margin-left: 4em;
    margin-right: 2em;
    margin-top: 2em;
  }
}





